<%- include('../shared/includes/head', { pageTitle : 'An Error Occured'}) %>

<head>
  <body>
    <%- include('../shared/includes/header') %>
    <main class="product-form-main">
      <h1 class="main-title">Something went wrong : 404</h1>
      <p class="main-text">
        Unfortunately, something went wrong - please try again later
      </p>
      <a class="btn--primary btn--warning" href="/">Back to Safety</a>
      <%- include('../shared/includes/footer') %>
    </main>
  </body>
</head>
