<%- include('../../shared/includes/head', { pageTitle : 'An Error Occured'}) %>

<head>
  <body>
    <%- include('../../shared/includes/footer') %>
    <h1>Something went wrong!</h1>
    <p>Unfortunately, something went wrong - please try again later</p>
    <p>
        <a href="/">Back to Safety</a>
    </p>
<%- include('../../shared/includes/footer') %>

