<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', { title: 'All Posts' }) %>
    <link rel="stylesheet" href="/styles/posts.css" />
  </head>

  <body>
    <%- include('includes/header') %>
    <main id="all-posts">
      <h1>All Posts</h1>
      <% if(!posts || posts.length === 0) { %>
      <p>No Posts found - maybe start creating a new post!</p>
      <a class="btn" href="/new-posts">Create a new post</a>
      <% } else { %>
      <ol>
        <% for (const post of posts) {%>
        <li><%- include('includes/post-item', {post}) %></li>
        <% } %>
      </ol>
      <% } %>
    </main>
  </body>
</html>
