<!doctype html>
<html lang="en">
  <head>
    <%- include('includes/head')%>
  </head>
  <body>
    <%- include('includes/header') %> <%- include('includes/aside') %>
    <main>
      <h1>Somthing went wrong!</h1>
      <p>
        Unfortunately, something went wrong on the server - we're doing our best
        to fix it ASAP
      </p>
    </main>
  </body>
</html>
