.week-title {
  font-size: 80px;
  margin-bottom: 3rem;
}

.material-symbols-outlined {
  color: var(--secondary-color);
  font-size: 50px;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.home-button:hover {
  text-decoration: none;
  color: var(--text-color);
}

ol {
  color: var(--highlight-color);
  width: 500px;
  margin: 2rem auto 0 auto;
}

.goal-list {
  background-color: var(--text-color);
  font-size: 25px;
  margin: 1rem 0 1rem 0;
  padding: 1rem;
}

.goal-list h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
