.week-title {
  font-size: 80px;
  margin-bottom: 3rem;
}

.material-symbols-outlined {
  color: var(--secondary-color);
  font-size: 50px;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  margin-bottom: 3rem;
}

.home-button:hover {
  text-decoration: none;
  color: var(--text-color);
}

.goal {
  color: var(--highlight-color);
  font-size: 25px;
  margin: 1rem 0 1rem 0;
}
