@use 'variables';

.common-btn {
  background: none;
  cursor: pointer;
  font: inherit;
  color: variables.$color-orange-300;
  border: 1px solid variables.$color-orange-200;
  padding: variables.$space-2 variables.$space-6;
  border-radius: variables.$border-radius-medium;
  
  &:hover,
  &:active {
    background: variables.$color-orange-400;
    color: white;
  }
}
