@use 'variables';

.form-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 3rem;
    margin: variables.$space-8 0;
  }
}

.global-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40rem;
  height: 80%;
  background-color: variables.$color-indigo-500;
  border-radius: variables.$border-radius-medium;
  box-shadow: variables.$shadow-medium;

  .form-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: variables.$space-4;

    .form-list-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 5rem;

      input {
        width: 80%;
        height: 3rem;
        font-size: 2rem;
        border-radius: variables.$border-radius-small;
        box-shadow: variables.$shadow-medium;
      }
    }
  }
}
