@use 'variables';

.logo--title {
  width: 12rem;
}

.test {
  display: none;
}

.global-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40rem;
  height: 80%;

  .form-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: variables.$space-1;

    .form-list-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: variables.$space-4;
      width: 100%;
      height: 5rem;
      margin-bottom: 3rem;

      input {
        width: 75%;
        height: 3rem;
        font-size: 1.5rem;
        font-family: inherit;
        border-radius: variables.$border-radius-small;
        box-shadow: variables.$shadow-medium;
      }

      .image_upload_control {
        display: flex;
        align-items: center;
        flex-direction: column;
        img {
          display: none;
          width: 4rem;
          height: 4rem;
          object-fit: cover;
          border-radius: variables.$border-radius-small;
        }
      }
    }
  }
}
