@use 'variables';

main {
  margin-top: 6rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 60rem;
  height: 5rem;
  padding: 0 variables.$space-6;
  margin: 0 auto;
  font-weight: 2 00;
}
