@use 'variables';

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0  variables.$space-4;

  .header__nav {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 5fr;
    column-gap: variables.$space-6;
    width: 100%;

    .header__nav-icon {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .header__nav-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }


  }
}
