@use 'variables.scss';

.product-form-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-grid {
  margin: variables.$space-8 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: variables.$space-4;
}

.product-item {
  border-radius: variables.$border-radius-medium;
  text-align: center;
  background-color: variables.$color-dark-500;
  overflow: hidden;

  img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
  }
}

.product__item__content {
  padding: variables.$space-4;

  h2 {
    font-size: 1.25rem;
    margin: variables.$space-2 0;
  }

  .product__btn__actions {
    display: flex;
    gap: variables.$space-2;
    margin-top: variables.$space-4;
  }
}

.product-form {
  margin-top: variables.$space-6;

  .form-list {
    gap: variables.$space-4;
  }

  .form-list-item {
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin-top: variables.$space-2;

    label {
      font-size: 2rem;
    }
  }
}

.textarea {
  display: flex;    
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: variables.$space-4;

  label {
    font-size: 2rem;
  }

  .description {
    width: 75%;
  }
}

.form-action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: variables.$space-4;
  margin-top: variables.$space-8;
}
