/* Font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oswald:wght@700&display=swap');

/* Icons */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@import '../css/reset.css';
@import '../css/variables.css';

/* Components */

/* Screens */
@import '../css/screens/home.css';
@import '../css/screens/full-week.css';

body {
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 20px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: var(--text-color);
}

p {
  font-family: 'Fira Sans', sans-serif;
  color: var(--text-color);
}

a {
  color: var(--tertiary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
