:root {
  --background-color: #0f0e17;
  --shading: #2e2f3e;
  --text-color: #fffffe;
  --highlight-color: #ff8906;
  --secondary-color: #f25f4c;
  --tertiary: #e53170;
}

/* https://www.happyhues.co/palettes/13 */
