<header class="header">
  <nav class="header__nav">
    <span class="nav__logo">
      <a href="/">
        <img src="/image/logo.png" class="logo" alt="logo">
      </a>
    </span>
    <%- include('nav-items') %>
  </nav>
  <button class="mobile-menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<aside class="mobile-menu">
  <nav class="aside__nav">
    <%- include('nav-items') %>
  </nav>
</aside>
