<%- include('../../shared/includes/head', { pageTitle : 'Home'}) %>

</head>
    <body>
        <%- include('../../shared/includes/header') %>
        <p>List of Products</p>
         <%- include('../../shared/includes/footer') %>