@use '../component/variables.scss';

.signup-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 3rem;
    margin: variables.$space-8 0;
  }
}
