<%- include('../../shared/includes/head', { pageTitle : 'All-Products'}) %>

</head>
    <body>
        <%- include('../../shared/includes/header') %>
        <h1>Products Administration</h1>
        <section>
            <h2>Manage Product</h2>
            <p>
                <a href="/admin/products/new" class="btn">Add Products</a>
            </p>
        </section>
        <section>
            <p>A list of products</p>
        </section>
<%- include('../../shared/includes/footer') %>