<%- include('../../shared/includes/head', { pageTitle : 'New-Products'}) %>

</head>
    <body>
        <%- include('../../shared/includes/header') %>
        <h1>Add Products</h1>
        <section>
            <h2>Manage Product</h2>
        </section>
        <section>
            <p>A list of products</p>
        </section>
<%- include('../../shared/includes/footer') %>