<%- include('../../shared/includes/head', { pageTitle : 'Add new products'}) %>

</head>
    <body>
        <%- include('../../shared/includes/header') %>
        <h1>Add new Product</h1>
        <%- include('includes/product-form', { submitPath : '/admin/products', product : {
            title : '',
            summary : '',
            price : '',
            description : ''
        }, imageRequired : true }) %>

<%- include('../../shared/includes/footer') %>