<%- include('../../shared/includes/head', { pageTitle : 'Add new products'}) %>
<link rel="stylesheet" href="/dest/css/component/forms.css">
<link rel="stylesheet" href="/dest/css/component/product.css">
<script src="/scripts/image-preview.js" defer ></script>

</head>
<body>
    <%- include('../../shared/includes/header') %>
        <main class="product-form-main">
            <h1 class="main-title">Add new Product</h1>
            <%- include('includes/product-form', { submitPath : '/admin/products', product : {
                title : '',
                summary : '',
                price : '',
                description : ''
            }, imageRequired : true }) %>
        </main>

<%- include('../../shared/includes/footer') %>