<%- include('../../shared/includes/head', { pageTitle : 'Update products'}) %>
<link rel="stylesheet" href="/dest/css/component/forms.css">
<link rel="stylesheet" href="/dest/css/component/product.css">
<script src="/scripts/image-preview.js" defer ></script>

</head>
    <body>
        <%- include('../../shared/includes/header') %>
        <main class="product-form-main">
        <h1 class="main-title">Update Product</h1>
        <%- include('includes/product-form', { submitPath : '/admin/products/' + product.id , product , imageRequired : false  }) %>
        </main>

<%- include('../../shared/includes/footer') %>