<%- include('../../shared/includes/head', { pageTitle : 'SignUp'}) %>
<link rel="stylesheet" href="dest/css/component/forms.css">
<link rel="stylesheet" href="dest/css/page/signup.css" />


</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main class="signup-main form-main">
    <h1 class="signup-form-title">Play With</h1>
    <form action="/signup" method="POST" class="global-form signup-form">
      <ul class="form-list">
        <li class="form-list-item">
          <input type="email" name="email" id="email" placeholder="Email" required/>
        </li>
        <li class="form-list-item">
          <input type="email" name="confirm-email" id="confirm-email" placeholder="Confrim Email" required/>
        </li>
        <li class="form-list-item">
          <input type="password" name="password" id="password" placeholder="****" required/>
        </li>
        <li class="form-list-item">
          <input type="text" name="fullName" id="fullName" placeholder="Name" required/>
        </li>
        <li class="form-list-item">
          <input type="text" name="street" id="street" placeholder="street" required/>
        </li>
        <li class="form-list-item">
          <input type="text" name="postal" id="postal" placeholder="postal" maxlength="5" minlength="5" required/>
        </li>
        <li class="form-list-item">
          <input type="text" name="city" id="city" placeholder="city" required/>
        </li>
        <li class="form-list-item">
        <button type="submit" class="form-btn">Create Account</button>
      </li>
      </ul>
      <p><a href="/login">Login in</a></p>
    </form>
  </main>
<%- include('../../shared/includes/footer') %>