<header class="header">
  <nav class="header__nav">
    <span class="header__nav-icon">
      <img src="" alt="">
      <h1>GAME</h1>
    </span>
    <ul class="header__nav-list">
      <li class="header__nav-list__item">TOP GAMES</li>
      <li class="header__nav-list__item">RATING</li>
      <li class="header__nav-list__item">SHOP</li>
      <li class="header__nav-list__item">INTRO</li>
      <li class="header__nav-list__btn">PLAY WITH ME</li>
    </ul>
  </nav>
</header>